<?xml version="1.0"?>
<configuration>
  <!--  To collect diagnostic traces, uncomment the section below or merge with existing system.diagnostics section.
        To persist the traces to storage, update the DiagnosticsConnectionString setting with your storage credentials.
        To avoid performance degradation, remember to disable tracing on production deployments. -->
  <!--<system.diagnostics>     
    <sharedListeners>
      <add name="AzureLocalStorage" type="WCFServiceWebRole1.AzureLocalStorageTraceListener, WCFServiceWebRole1"/>
    </sharedListeners>
    <sources>
      <source name="System.ServiceModel" switchValue="Verbose, ActivityTracing">
        <listeners>
          <add name="AzureLocalStorage"/>
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging" switchValue="Verbose">
        <listeners>
          <add name="AzureLocalStorage"/>
        </listeners>
      </source>
    </sources> 
   </system.diagnostics>--> 
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
  </system.web>
  <system.serviceModel>
    <diagnostics>
      <messageLogging maxMessagesToLog="3000" logEntireMessage="true" logMessagesAtServiceLevel="true" logMalformedMessages="true" logMessagesAtTransportLevel="true" />
    </diagnostics>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the value below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="false" />
    <services>
      <service name="WCFServiceWebRole1.BasicHttpsBinding_IRedPill">
        <endpoint address=""  bindingNamespace="http://KnockKnock.readify.net" bindingConfiguration="BasicHttpBinding_IRedPill"  binding="basicHttpBinding" contract="WCFServiceWebRole1.IBasicHttpsBinding_IRedPill">
        </endpoint>
        <endpoint address="" bindingNamespace="http://KnockKnock.readify.net"
                      binding="basicHttpBinding"
                      bindingConfiguration="BasicHttpsBinding_IRedPill" 
                      contract="WCFServiceWebRole1.IBasicHttpsBinding_IRedPill" >
          <identity>
            <certificateReference
              storeName="My"
              storeLocation="LocalMachine"
              x509FindType="FindByThumbprint"
              findValue="1d069bec7db40f8e40c5ac8d8da05279fc9a7011" />
          </identity>
        </endpoint>

        <host>
          <baseAddresses>
            <add baseAddress="http://xuzworld.cloudapp.net/"/>
          </baseAddresses>
        </host>

      </service>
    </services>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpsBinding_IRedPill">
          <security mode="Transport">     
          </security>
        </binding>
        <binding name="BasicHttpBinding_IRedPill">
          <security mode="None">
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
    -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
  <system.web>
    <customErrors mode="Off"/>
  </system.web>
</configuration>
